#content {
	& > div {
		padding: 5px;
	}
	.a {
		border: 1px solid red;
		color: red;
	}
	.b {
		border: 1px solid blue;
		color: blue;
	}
}
.icon {
	display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.new-words {
	float: left;
	min-width: 80px;
	margin-right: 5px;
	padding: 5px;
	/*border: 5px dashed red;*/
}
.translate-word {
  //padding-right: 10px;
	/*margin-right: 5px;*/
	cursor: pointer;
	&:hover {
	  background: green;
	  color: white;
	}
}